In [6]:
import pandas as pd

In [ ]:
df = pd.read_csv('c:/../kiva_loans_data/kiva_loans.csv', sep=',')

In [ ]:
# Firstly lets some examine the data
df.tail()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
671200,1340323,0.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-25 16:55:34+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-25
671201,1340316,25.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-25 06:14:08+00:00,2017-07-24 07:00:00+00:00,2017-07-26 02:09:43+00:00,13.0,1,NaN,female,monthly,2017-07-25
671202,1340334,0.0,25.0,Games,Entertainment,NaN,KE,Kenya,NaN,KES,138.0,2017-07-26 00:02:07+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,NaN,monthly,2017-07-26
671203,1340338,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-26 06:12:55+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-26
671204,1340339,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-26 06:31:46+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-26

In [69]:
print(df.dtypes)

id                      int64
funded_amount         float64
loan_amount           float64
activity               object
sector                 object
use                    object
country_code           object
country                object
region                 object
currency               object
partner_id            float64
posted_time            object
disbursed_time         object
funded_time            object
term_in_months        float64
lender_count            int64
tags                   object
borrower_genders       object
repayment_interval     object
date                   object
dtype: object

In [ ]:
# Fix the column types
df.posted_time = pd.to_datetime(df.posted_time)
df.disbursed_time = pd.to_datetime(df.disbursed_time)
df.funded_time = pd.to_datetime(df.funded_time)
df.date = pd.to_datetime(df.date)

In [72]:
print(df.dtypes)

id                                  int64
funded_amount                     float64
loan_amount                       float64
activity                           object
sector                             object
use                                object
country_code                       object
country                            object
region                             object
currency                           object
partner_id                        float64
posted_time           datetime64[ns, UTC]
disbursed_time        datetime64[ns, UTC]
funded_time           datetime64[ns, UTC]
term_in_months                    float64
lender_count                        int64
tags                               object
borrower_genders                   object
repayment_interval                 object
date                       datetime64[ns]
dtype: object

In [75]:
print(df.shape[0])

671205

In [77]:
df.describe()

,id,funded_amount,loan_amount,partner_id,term_in_months,lender_count
count,6.712050e+05,671205.000000,671205.000000,657698.000000,671205.000000,671205.000000
mean,9.932486e+05,785.995061,842.397107,178.199616,13.739022,20.590922
std,1.966113e+05,1130.398941,1198.660073,94.247581,8.598919,28.459551
min,6.530470e+05,0.000000,25.000000,9.000000,1.000000,0.000000
25%,8.230720e+05,250.000000,275.000000,126.000000,8.000000,7.000000
50%,9.927800e+05,450.000000,500.000000,145.000000,13.000000,13.000000
75%,1.163653e+06,900.000000,1000.000000,204.000000,14.000000,24.000000
max,1.340339e+06,100000.000000,100000.000000,536.000000,158.000000,2986.000000

In [18]:
max_val=df['id'].max()
min_val=df['id'].min()

print(f"Min: {min_val}, Max: {max_val}")

Min: 653047, Max: 1340339

In [79]:
df.isnull().sum()

id                         0
funded_amount              0
loan_amount                0
activity                   0
sector                     0
use                     4232
country_code               8
country                    0
region                 56800
currency                   0
partner_id             13507
posted_time                0
disbursed_time          2396
funded_time            48331
term_in_months             0
lender_count               0
tags                  171416
borrower_genders        4221
repayment_interval         0
date                       0
dtype: int64

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  671205 non-null  int64
 1   funded_amount       671205 non-null  float64
 2   loan_amount         671205 non-null  float64
 3   activity            671205 non-null  object
 4   sector              671205 non-null  object
 5   use                 666973 non-null  object
 6   country_code        671197 non-null  object
 7   country             671205 non-null  object
 8   region              614405 non-null  object
 9   currency            671205 non-null  object
 10  partner_id          657698 non-null  float64
 11  posted_time         671205 non-null  datetime64[ns, UTC]
 12  disbursed_time      668809 non-null  datetime64[ns, UTC]
 13  funded_time         622874 non-null  datetime64[ns, UTC]
 14  term_in_months      671205 non-null  float64
 15  lender_count        671205 non-null  int64
 16  tags                499789 non-null  object
 17  borrower_genders    666984 non-null  object
 18  repayment_interval  671205 non-null  object
 19  date                671205 non-null  datetime64[ns]
dtypes: datetime64[ns, UTC](3), datetime64[ns](1), float64(4), int64(2), object(10)
memory usage: 102.4+ MB

In [83]:
# remove duplicate values
df = df.drop_duplicates()
print(df.count())

id                    671205
funded_amount         671205
loan_amount           671205
activity              671205
sector                671205
use                   666973
country_code          671197
country               671205
region                614405
currency              671205
partner_id            657698
posted_time           671205
disbursed_time        668809
funded_time           622874
term_in_months        671205
lender_count          671205
tags                  499789
borrower_genders      666984
repayment_interval    671205
date                  671205
dtype: int64

In [84]:
from sqlalchemy import create_engine

In [ ]:
# PostgreSQL connection
engine = create_engine('postgresql://root:root@localhost:5432/KivaCrowdfunding')

In [91]:
print(pd.io.sql.get_schema(df, name='kiva_table', con=engine))

CREATE TABLE kiva_table (
	id BIGINT,
	funded_amount FLOAT(53),
	loan_amount FLOAT(53),
	activity TEXT,
	sector TEXT,
	use TEXT,
	country_code TEXT,
	country TEXT,
	region TEXT,
	currency TEXT,
	partner_id FLOAT(53),
	posted_time TIMESTAMP WITH TIME ZONE,
	disbursed_time TIMESTAMP WITH TIME ZONE,
	funded_time TIMESTAMP WITH TIME ZONE,
	term_in_months FLOAT(53),
	lender_count BIGINT,
	tags TEXT,
	borrower_genders TEXT,
	repayment_interval TEXT,
	date TIMESTAMP WITHOUT TIME ZONE
)

In [ ]:
# we will use the iterator to read the data in chunks (10000 by 10000)
df_iter = pd.read_csv('c:/Users/ayhan/Kiva_crowdfunding_Azure_Databricks/kiva_loans_data/kiva_loans.csv', iterator=True, chunksize=10000)

In [95]:
df = next(df_iter)

In [97]:
len(df)

10000

In [ ]:
# Fix data types  
df.date = pd.to_datetime(df.date)
df.posted_time=pd.to_datetime(df.posted_time)
df.disbursed_time=pd.to_datetime(df.disbursed_time)
df.funded_time=pd.to_datetime(df.funded_time)

In [103]:
df.head(n=0).to_sql(name='kiva_table', con=engine, if_exists='replace')

0

In [ ]:
# Add the data to the database
%time df.to_sql(name='kiva_table', con=engine, if_exists='append')

Wall time: 3.62 s

1000

In [106]:
from time import time

In [ ]:
# Add the data to the postgre database in chunks 
while True: 
    t_start = time()

    df = next(df_iter)

    df.date = pd.to_datetime(df.date)
    
    df.to_sql(name='kiva_table', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 7.670 second
inserted another chunk, took 1.916 second
inserted another chunk, took 2.361 second
inserted another chunk, took 1.586 second
inserted another chunk, took 1.526 second
inserted another chunk, took 1.572 second
inserted another chunk, took 2.038 second
inserted another chunk, took 2.082 second
inserted another chunk, took 4.506 second
inserted another chunk, took 2.432 second
inserted another chunk, took 5.430 second
inserted another chunk, took 2.946 second
inserted another chunk, took 2.395 second
inserted another chunk, took 2.500 second
inserted another chunk, took 2.937 second
inserted another chunk, took 2.192 second
inserted another chunk, took 2.012 second
inserted another chunk, took 1.753 second
inserted another chunk, took 2.491 second
inserted another chunk, took 1.849 second
inserted another chunk, took 2.756 second
inserted another chunk, took 1.846 second
inserted another chunk, took 2.227 second
inserted another chunk, took 1.963 second
inserted another chunk, took 2.491 second
inserted another chunk, took 2.170 second
inserted another chunk, took 1.549 second
inserted another chunk, took 2.652 second
inserted another chunk, took 1.685 second
inserted another chunk, took 2.159 second
inserted another chunk, took 2.130 second
inserted another chunk, took 1.662 second
inserted another chunk, took 2.188 second
inserted another chunk, took 1.690 second
inserted another chunk, took 3.468 second
inserted another chunk, took 2.229 second
inserted another chunk, took 2.163 second
inserted another chunk, took 2.050 second
inserted another chunk, took 2.179 second
inserted another chunk, took 2.351 second
inserted another chunk, took 1.978 second
inserted another chunk, took 2.616 second
inserted another chunk, took 1.758 second
inserted another chunk, took 2.088 second
inserted another chunk, took 3.044 second
inserted another chunk, took 2.933 second
inserted another chunk, took 1.283 second
inserted another chunk, took 2.920 second
inserted another chunk, took 2.581 second
inserted another chunk, took 2.190 second
inserted another chunk, took 2.712 second
inserted another chunk, took 2.570 second
inserted another chunk, took 2.411 second
inserted another chunk, took 3.913 second
inserted another chunk, took 2.856 second
inserted another chunk, took 3.984 second
inserted another chunk, took 2.858 second
inserted another chunk, took 8.121 second
inserted another chunk, took 4.657 second
inserted another chunk, took 2.416 second
inserted another chunk, took 1.714 second
inserted another chunk, took 3.970 second
inserted another chunk, took 4.576 second
inserted another chunk, took 2.060 second
inserted another chunk, took 1.731 second
inserted another chunk, took 1.613 second
inserted another chunk, took 0.205 second

StopIteration: